In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
# ms-python.python added
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	print(os.getcwd())
except:
	pass

# University of Strathclyde -  MSc Artificial Intelligence and Applications
# CS982 - Big Data Technologies
# Assignment 1 - Exploring Data
 File Created first created 9th October 2019 by Barry Smart.

## Stage 3 - Initial Exporation
 This stage is concerned with loading  the raw data and have an initial look at it to identify data wrangling steps.

In [38]:
# I am going to make use of the common numpy and pandas libraries to load, wrangle and perform basic analysis of the data
import numpy as np
import pandas as pd
import os

### Stage 3.1 - Import The Data
 First step is to read the data from file and have a look at the first 10 rows...

In [39]:
# Read the raw World Bank data from the CSV file
data_path = str(os.getcwd()) + "\\assignment1\\"
raw_worldbank_data = pd.read_csv(data_path + "world_bank_data.csv")
# Have a look at the first 10 rows
raw_worldbank_data.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,12439087076.7667,15856574731.4411,17804280538.1102,20001615788.6719,20561054090.3995,20484873230.2111,19907111418.9938,19362642266.6484,20191764940.1602,19362969582.3643
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,..,..,..,..,..,...,21.390528405312,14.3624414596815,0.426354792856571,12.7522870825788,5.60074466131904,2.72454336495028,1.45131465458005,2.2603142045464,2.66529204636834,1.03066005804328
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973,9169410,9351441,9543205,9744781,9956320,...,28394813,29185507,30117413,31161376,32269589,33370794,34413603,35383128,36296400,37172386
3,Afghanistan,AFG,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,51.6793381591819,51.5873111082659,51.5006134882727,51.4191256601559,51.3428636401139,51.2716146671892,...,51.2208289079348,51.1752424002444,51.184216996607,51.2328883530119,51.2999296675334,51.3586756854884,51.392950630598,51.4003323853459,51.388384281721,51.3641532982879
4,Afghanistan,AFG,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,48.3206618408181,48.4126888917341,48.4993865117273,48.5808743398441,48.6571363598861,48.7283853328108,...,48.7791710920652,48.8247575997556,48.815783003393,48.7671116469881,48.7000703324666,48.6413243145116,48.607049369402,48.5996676146541,48.611615718279,48.6358467017121
5,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,33.314,33.84,34.359,34.866,35.364,35.853,...,61.898,62.459,63,63.514,63.999,64.453,64.877,65.275,65.656,..
6,Afghanistan,AFG,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,31.718,32.224,32.724,33.216,33.7,34.18,...,59.159,59.683,60.19,60.675,61.133,61.563,61.965,62.343,62.701,..
7,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.446,32.962,33.471,33.971,34.463,34.948,...,60.484,61.028,61.553,62.054,62.525,62.966,63.377,63.763,64.13,..
8,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7731938409853,59.8608738790779,58.4580149495439,78.7063875407802,82.0952307131832,101.108304853377,...,438.076034406941,543.303041863931,591.16234645088,641.872033785411,637.16504385598,613.856332882312,578.466352941708,547.228110150363,556.302138508508,520.896602719135
9,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,..,..,..,..,...,18.5153687132188,11.264133238155,-2.6810808487635,8.97487956759649,1.97416862890181,-0.665270517698119,-1.6228866716696,-0.541697283221509,0.08207892887539,-1.35017833585495

 The data is structured with repeating rows of data, where each row is governed by:
 - The "Series Name" (a "Series Code" is also provided) - an example being "Population, total"
 - The "Country Name" - (a "Country Code" is also provided) - an example being "Argentina"

  There are then columns for each of the years from 1960 to 2018.

### Stage 3.2 - Closer Look At Shape and Structure : Series Name
 Next step is to take closer look at the shape and structure of the data.
 First run some basic statistics about number of rows and columns.
 In particular, analyse the "Series Name" column to determine how many discrete data series are available.

In [40]:
raw_worldbank_data.shape

(21917, 63)

In [41]:
raw_worldbank_data["Series Name"].value_counts().head(20)

Renewable energy consumption (% of total final energy consumption)                                                                              264
Battle-related deaths (number of people)                                                                                                        264
Mortality rate, adult, female (per 1,000 female adults)                                                                                         264
Immunization, HepB3 (% of one-year-old children)                                                                                                264
Land area where elevation is below 5 meters (% of total land area)                                                                              264
Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)                    264
Mortality rate attributed to unintentional poisoning (per 100,000 population)                                                                   264
Account ownership at a financial institution or with a mobile-money-service provider, secondary education or more (% of population ages 15+)    264
Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+)      264
Suicide mortality rate, female (per 100,000 female population)                                                                                  264
Life expectancy at birth, total (years)                                                                                                         264
Arable land (% of land area)                                                                                                                    264
Mobile cellular subscriptions (per 100 people)                                                                                                  264
Suicide mortality rate, male (per 100,000 male population)                                                                                      264
Exports of goods and services (current US$)                                                                                                     264
Low-birthweight babies (% of births)                                                                                                            264
Fertility rate, total (births per woman)                                                                                                        264
Life expectancy at birth, female (years)                                                                                                        264
GDP growth (annual %)                                                                                                                           264
Merchandise exports (current US$)                                                                                                               264
Name: Series Name, dtype: int64

In [42]:
raw_worldbank_data["Series Name"].value_counts().count()

83

In [43]:
raw_worldbank_data.tail(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
21907,World,WLD,"Mortality rate, adult, male (per 1,000 male ad...",SP.DYN.AMRT.MA,371.870167591872,366.620519405922,362.93021625082,351.297410830587,338.708444497898,328.205638930645,...,190.444190345198,187.635427959727,184.823696637169,182.462455416421,180.099127354713,177.298309844609,174.085100929693,173.472867275604,178.318112520384,..
21908,World,WLD,"Mortality rate, adult, female (per 1,000 femal...",SP.DYN.AMRT.FE,297.893994349911,293.223969718727,289.821387467588,281.071338723073,271.804581893746,263.635971813592,...,128.008201054076,124.993294650045,122.227902527935,119.529053980065,117.871409920965,116.391670742655,116.083524344293,115.54781327774,119.911900229058,..
21909,World,WLD,"Mortality rate attributed to unsafe water, uns...",SH.STA.WASH.P5,..,..,..,..,..,..,...,..,..,..,..,..,..,..,11.7590910002673,..,..
21910,World,WLD,Mortality rate attributed to unintentional poi...,SH.STA.POIS.P5,..,..,..,..,..,..,...,..,1.62406434494835,..,..,..,..,1.46411063791079,1.45141154191923,..,..
21911,World,WLD,"Central government debt, total (current LCU)",GC.DOD.TOTL.CN,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
21912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21915,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21916,Last Updated: 10/16/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 Looking at this list of series, there are a couple of backlog items that need to be created.

 There are trailing rows at the end of the data set that need to be removed - added [item](https://trello.com/c/P6isPTdY) to backlog.

 I also need to select the subset of "Series Name" categories that I want to work with.  There are too many!
  On this basis, I have added a backlog [item](https://trello.com/c/bPYXSpNU) to filter to the following "Series":
 - Population, total
 - GDP (current US$)
 - GNI Atlas method (current US$)
 - Electric power consumption (kWh per capita)
 - Energy use (kg of oil equivalent per capita)
 - Personal remittances, paid (current US$)
 - Start-up procedures to register a business (number)
 - Life expectancy at birth, total (years)
 - Inflation, consumer prices (annual %)
 - Fertility rate, total (births per woman)
 - Mobile cellular subscriptions (per 100 people)

### Stage 3.2 - Closer Look At Shape and Structure : Country Name
 Look at more depth at the country data to understand how many countries we have data for.

In [44]:
raw_worldbank_data["Country Name"].value_counts()

Morocco                                             83
St. Lucia                                           83
Netherlands                                         83
Mauritania                                          83
Indonesia                                           83
                                                    ..
Latvia                                              83
Lao PDR                                             83
Poland                                              83
Data from database: World Development Indicators     1
Last Updated: 10/16/2019                             1
Name: Country Name, Length: 266, dtype: int64

### Conclusions Regarding Shape of Data
 This structure is going to make life difficult for further analysis as we tend to have the variables organised in discrete columns.

 So added [item](https://trello.com/c/8w28nF2y) to the backlog is a need to re-structure this data such that:
 - Country Column - categorical - the contry to which the data is related;
 - Year Column - categorical - the year to which the data is related;
 - Discrete Columns for Each Series to be Explored - continuous - a set of numerical data for that country/year combination.  Where column title is the "Series "

 In preparation for the item above, the year column names that are currently in the form "MMMM [MMMM]" (where M is a numeric character) will need to be transformed into the format "MMMM".  I've created another backlog [item](https://trello.com/c/MLKQ1zJp) to do this.

### Look At Distruibution Of Continuous Data
 Let's now take a deeper look at the GDP data for a single year.

In [45]:
raw_worldbank_data.loc[raw_worldbank_data["Series Name"] == "GDP (current US$)"]["1960 [YR1960]"].describe()

count     264
unique    132
top        ..
freq      131
Name: 1960 [YR1960], dtype: object

 This is concerning - I was expecting to mean, standard deviation, max, min etc.
 But this looks like the data is not being treated as numerical but as categorical.  So there must be some cleaning up required!

 Let's dig into this further by taking a "thin slice" of the data - in this case GDP data for 1960.

In [46]:
thin_slice = raw_worldbank_data.loc[raw_worldbank_data["Series Name"] == "GDP (current US$)"].loc[:, "Series Name" : "1960 [YR1960]"]

In [47]:
thin_slice.head(10)

           Series Name     Series Code     1960 [YR1960]
0    GDP (current US$)  NY.GDP.MKTP.CD  537777811.111111
83   GDP (current US$)  NY.GDP.MKTP.CD                ..
166  GDP (current US$)  NY.GDP.MKTP.CD  2723648551.75208
249  GDP (current US$)  NY.GDP.MKTP.CD                ..
332  GDP (current US$)  NY.GDP.MKTP.CD                ..
415  GDP (current US$)  NY.GDP.MKTP.CD                ..
498  GDP (current US$)  NY.GDP.MKTP.CD                ..
581  GDP (current US$)  NY.GDP.MKTP.CD                ..
664  GDP (current US$)  NY.GDP.MKTP.CD                ..
747  GDP (current US$)  NY.GDP.MKTP.CD                ..

In [48]:
thin_slice.iloc[1,2]

'..'

In [49]:
thin_slice.dtypes

Series Name      object
Series Code      object
1960 [YR1960]    object
dtype: object

 So the presence of a double full stop ".." indicates that there is no data available.  It's clear that whilst population data is available for all countries since 1960, some indicators such as GDP are not available.
 We will need to replace this with an empty cell in order to process the data.
 Let's do that quickly for this "thin slice" to see if it has the desired impact by replacing the ".." with NA (empty cell) AND setting the 1960 column to be a floating number rather than "object".

In [50]:
thin_slice = thin_slice.replace(to_replace='..', value=np.nan)

In [51]:
thin_slice = thin_slice.astype({"1960 [YR1960]" : "float"})

In [52]:
thin_slice.dtypes

Series Name       object
Series Code       object
1960 [YR1960]    float64
dtype: object

In [53]:
thin_slice["1960 [YR1960]"].describe()

count    1.330000e+02
mean     7.504317e+10
std      2.151505e+11
min      1.201203e+07
25%      5.075138e+08
50%      2.723649e+09
75%      2.996247e+10
max      1.370773e+12
Name: 1960 [YR1960], dtype: float64

 Those steps above seem to work for the "thin slice" - that approach just needs to scaled up to the full data set.  So I've added two further items to the backlog:
 - First backlog [item](https://trello.com/c/Q4u53d2D) is to replace ".." with empty cells;
 - Second backlog [item](https://trello.com/c/nQjCChjm) is to set the data types of the continuous data columns to "float".

### Further Thoughts
 Some further throughts also added to backlog:

 1. Addition of country meta data - backlog [item](https://trello.com/c/gQOicDsM) - eg categorical data for region / continent to allow high order analysis
 2. Integration of other data sets - backlog [item](https://trello.com/c/EG2lMu3x) - eg from the WHO?